.vision
  position:           relative
  height:             100%
  // width:              100vw
  // height:             100%
  // max-height:         100vw
  // max-width:          100vh
  margin:             0 auto
  background:         #000
  -webkit-perspective:        800
  -webkit-transform:  translateZ(0)
  +media-query(xxs)
    display:          block
    max-width:        9999em
    max-height:       9999em
    width:            auto
    height:           auto


.vision__card
  position:           absolute
  z-index:            1
  width:              33.333%
  height:             33.333%
  text-align:         center
  cursor:             pointer
  -webkit-transition: all 200ms, z-index 0
  -webkit-transition-delay: 0, 400ms
  -webkit-transform:  rotateX(0) rotateY(0)
  -webkit-transform-style: preserve-3d
  .vision--open &
    -webkit-transform:  rotateX(0) rotateY(0) !important
    -webkit-transition: all 0
  +media-query(xxs)
    position:         static
    width:            auto

.vision__card--open
  z-index: 3

.vision__card__inner
  position:           relative
  top:                -100%
  left:               -100%
  width:              300%
  height:             300%
  opacity:            1
  -webkit-transform:  scale(0.333)
  -webkit-transform-origin:  50%
  -webkit-transition: all 300ms
  .vision--open &
    -webkit-transform:  scale(0.333) translateZ(-100px)
  .vision__card--open &
    -webkit-transform:  scale(1)
    opacity:          1
    -webkit-transition-delay: 0 !important

$house-of-cards: ( (tl, top, left, 1, #eee), (tm, top, middle, 2, #E6E6E6), (tr, top, right, 3, #ddd), (mr, middle, right, 4, #ccc), (br, bottom, right, 5, #a1a1a1), (bm, bottom, middle, 6, #b2b2b2), (bl, bottom, left, 7, #bbb), (ml, middle, left, 8, #d3d3d3), (mm, middle, middle, 9, #F9E800) )

@function card-topleft($pos)
  @if $pos == top
    @return 0
  @if $pos == middle
    @return 33.33%
  @if $pos == bottom
    @return 66.66%
  @if $pos == left
    @return 0
  @if $pos == right
    @return 66.66%

@function card-transform($pos)
  @if $pos == top
    @return 36%
  @if $pos == middle
    @return 0
  @if $pos == bottom
    @return -36%
  @if $pos == left
    @return 36%
  @if $pos == right
    @return -36%

=card-position-generator()
  @each $position in $house-of-cards
    .vision__card--#{nth($position, 1)}
      left: +card-topleft(nth($position, 3))
      top:  +card-topleft(nth($position, 2))
      .vision__card__inner
        background: nth($position, 5)
        -webkit-transition-delay: unquote("#{20*nth($position, 4)}ms")
        .vision--open &
          -webkit-transition-delay: unquote("#{80*nth($position, 4) + 200}ms")
      &.vision__card--open 
        .vision__card__inner
          -webkit-transform:  scale(.94) translateX( +card-transform(nth($position, 3)) ) translateY( +card-transform(nth($position, 2)) )

+card-position-generator()

.vision__card__title
  padding: 20% 10% 0
  font-size: 4em

.vision__card__desc
  display:            none
